.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.d-inline-block{
  display: inline-block;
}

/* spacing  */
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}

.m-1 {
  margin: 1px;
}
.mt-1 {
  margin-top: 1px;
}
.mb-1 {
  margin-bottom: 1px;
}
.ml-1 {
  margin-left: 1px;
}
.mr-1 {
  margin-right: 1px;
}

.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}

.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}

.m-30 {
  margin: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}

.m-40 {
  margin: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}

.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}

.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}

.p-30 {
  padding: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-right: 30px;
}

.p-5 {
  padding: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}

/* display */
.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
/* flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}


.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 400px;
}

.w-40px {
  width: 40px;
}

.round-small {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}


@media only screen and (max-width: 500px){
  .flex-column-mobile{
    flex-direction: column;
  }
  .flex-column-reverse-mobile{
    flex-direction: column-reverse;
  }
}